<h1><%= question_header(@question) %></h1>

<%= form_with model: [@test, @question], local: true do |f| %>

  <p>
    <%= f.label 'body:' %><br>
    <%= f.text_field :body %>
  </p>

  <%= f.submit %>
<% end %><br>

<%= link_to "Back", test_path(@question.test) %>