<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Test</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.test_id %></td>
      <td><%= question.body %></td>
      <td><%= link_to "Show", question %></td>
      <td><%= link_to "Destroy", question, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "New question", new_test_question_path %>
