<h1>List of <%= @test.title %> test questions</h1>

<ul>
  <% @test.questions.each do |question| %>
    <li>
      <%= question.body %>
      <%= link_to "Destroy", question, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<%= link_to "Add question in #{@test.title}", new_test_question_path %>

<br><br>

<%= link_to "Back", tests_path %>
